# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# macOS system files
.DS_Store

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.DS_Store
.DS_Store
../.DS_Store

# Ignore everything in the img folder
/api/public/img/*

# Ignore all image uploads
assets/images/
!assets/images/.htaccess

